<div class="jumbotron text-center" data-ng-controller="featuresController as featureCtrl">
    <h3>Features</h3>
    <div class="container">
        <div class="col-sm-12 text-left">
            <p>Wiązanie: {{featureCtrl.title}}</p>
            $watch: <input type="text" data-ng-model="data.message"  ng-focus="data.message=''"/>

            <p>filter: {{data.currentDate | date: 'MMMM' | uppercase}}</p>

            ng-options: <select ng-options="g.value as g.name for g in data.list"
                                ng-model="data.list.selected" ng-change="printMsgOnChange(data.list.selected)">
                        </select>
        </div>
    </div>
</div>