<div class="jumbotron text-center">
    <h3>Formularz użytkownika</h3>
    <form name="userForm" data-ng-submit="addUpdateUser()" class="form-horizontal">
        <div class="form-group">
            <label for="userSurname" class="control-label col-sm-2">Nazwisko:</label>
            <div class="col-sm-10">
                <input id="userSurname" name="userSurname" class="form-control" type="text"
                       data-ng-model="user.surname" ng-maxlength="255" ng-minlength="3" placeholder="podaj nazwisko" required/>
                <p ng-show="userForm.userSurname.$dirty && userForm.userSurname.$error.required" class="error">Pole wymagane</p>
                <p ng-show="userForm.userName.$dirty && userForm.userSurname.$error.minlength" class="error">Wymagane przynajmniej 3 znaki</p>
                <p ng-show="userForm.userName.$dirty && userForm.userSurname.$error.maxlength" class="error">Maksymalna liczba znaków to 255</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userName" class="control-label col-sm-2">Imię:</label>
            <div class="col-sm-10">
                <input id="userName" name="userName" class="form-control" type="text"
                       data-ng-model="user.name" ng-maxlength="50" ng-minlength="3" placeholder="podaj imię" required />
                <p ng-show="userForm.userName.$dirty && userForm.userName.$error.required" class="error">Pole wymagane</p>
                <p ng-show="userForm.userName.$dirty && userForm.userName.$error.minlength" class="error">Wymagane przynajmniej 3 znaki</p>
                <p ng-show="userForm.userName.$dirty && userForm.userName.$error.maxlength" class="error">Maksymalna liczba znaków to 50</p>
            </div>
        </div>
        <div class="form-group">
            <label for="userBirth" class="control-label col-sm-2">Data urodzenia:</label>
            <div class="col-sm-10">
                <input id="userBirth" name="userBirth" jq-date-picker type="input"  class="form-control"
                       data-ng-model="user.birthDate" autocomplete="off" required />
                <p ng-show="userForm.userBirth.$dirty && userForm.userBirth.$error.required" class="error">Pole wymagane</p>
            </div>
        </div>
        <div class="form-group">
             <div class="col-sm-offset-2 col-sm-2">
                <button type="submit" data-ng-disabled="userForm.$invalid && userForm.$dirty" class="btn btn-default">Zapisz</button>
             </div>
        </div>
    </form>
</div>