<div class="jumbotron text-center">
    <h3>
        <span>Users List</span>
        <span class="add-icon" data-toggle="tooltip" title="Dodaj" data-placement="left" data-ng-click="addUserRedirect()"><i class="fa fa-plus-square-o"></i></span>
    </h3>
    <form class="form-inline text-left">
        <div class="form-group">
            <label class="whitelabel">Nazwisko:</label>
            <input type="text" data-ng-model="search.surname" data-ng-disabled="!search.surname && search.birthDate" placeholder="podaj nazwisko" /><br>
        </div>
        <div class="form-group">
            <label class="whitelabel">Data urodzenia:</label>
            <input jq-date-picker type="input" data-ng-model="search.birthDate" data-ng-disabled="search.surname && !search.birthDate" autocomplete="off" />
        </div>
    </form>
    <div>
        <div class="row" style="color: olive; font-weight: bold;">
            <div class="col-sm-1 text-left">Lp.</div>
            <div class="col-sm-3 text-left">Nazwisko</div>
            <div class="col-sm-3 text-left">Imię</div>
            <div class="col-sm-3 text-left">Data urodzenia</div>
        </div>
        <div class="row" data-ng-class-odd="'border-light'" ng-class-even="'border-dark'"
             data-ng-repeat="user in users | userfilter:search | orderBy: '-surname'">
                <div class="col-sm-1 text-left">{{$index + 1}}</div>
                <div data-ng-bind="user.surname" class="col-sm-3 text-left"></div>
                <div data-ng-bind-template="{{user.name}}" class="col-sm-3 text-left"></div>
                <div class="col-sm-3 text-left">{{user.birthDate}}</div>
                <div>
                    <span ng-click="editUserRedirect(user.id)" data-toggle="tooltip" title="Edytuj" data-placement="left">
                        <i class="fa fa-pencil-square-o"></i>
                    </span>
                    <span ng-click="removeUser(user.id)" data-toggle="tooltip" title="Usuń" data-placement="left">
                        <i class="fa fa-times red"></i>
                    </span>
                </div>
        </div>
    </div>
</div>